/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: monospace, menlo;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.902);
  color: rgb(244, 242, 238);
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}

h2 {
  margin: 2rem 0 2rem 0;
}

p {
  margin-bottom: 2rem;
}